# Break

In [1]:
for i in range(100):
    if i==11:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
#times table of 3
for i in range(1,100):
    if i == 11:
        break
    print('3 *',i,'=',3*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [4]:
sen = 'I love Bangladesh and Germany'
for i in sen.split():
    if i == 'and':
        break
    print(i)

I
love
Bangladesh

In [5]:
i = 1
while i<20:
    if i==11:
        break
    print('5 *',i,'=',5*i)
    i=i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50